@media (max-width: 480px) {
  table {
    border: none;
  }
  tr {
    display: block;
  }
  th {
    display: block;
  }
  td {
    display: block;
  }
  /* Overwrite bootstrap */
  .table>tbody>tr>td {
    border-top: none;
  }
}
