<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>swimtrack</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">swimtrack</a>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div ng-controller="recordCtrl">
      <form class="form-inline" ng-submit="submit()">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="name" placeholder="選手名を入力してください（例: 鈴木一郎）" style="width: 300px;" />
          <!--
          <select class="form-control" ng-model="distance" style="width: 100px;">
            <option>25m</option>
            <option>50m</option>
            <option>100m</option>
            <option>200m</option>
            <option>400m</option>
            <option>800m</option>
            <option>1500m</option>
            <option>指定なし</option>
          </select>
          <select class="form-control" ng-model="style" style="width: 100px;">
            <option>自由形</option>
            <option>背泳ぎ</option>
            <option>平泳ぎ</option>
            <option>バタフライ</option>
            <option>個人メドレー</option>
            <option>指定なし</option>
          </select>
-->
        </div>
        <button type="submit" class="btn btn-primary">検索</button>
      </form>
      <div class="st-result" ng-if="records">
        <div class="st-summary">
          <strong>Found {{records.length}} records</strong>
        </div>
        <div class="st-records">
          <table class="table">
            <tr ng-repeat="record in records | filter: filter">
              <th>{{record.year}}-{{record.month}}-{{record.day}}</th>
              <td><a href="{{record.meet_url}}" target="_brank">{{record.meet_name}}</a></td>
              <td>{{record.course}}</td>
              <td>{{record.team_name}}</td>
              <td>{{record.player_name}}</td>
              <td><a href="{{record.race_url}}" target="_blank">{{record.sex}}{{record.distance}}m{{record.style}}</a></td>
              <td>{{record.record}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="controllers.js"></script>
</body>

</html>
