<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>swimtrack</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">swimtrack</a>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div ng-controller="recordCtrl">
      <form class="form-inline" ng-submit="submit()">
        <input type="text" class="form-control" ng-model="name" placeholder="選手名を入力してください（例: 鈴木一郎）" style="width: 300px;" />
        <button type="submit" class="btn btn-primary">検索</button>
      </form>
      <div class="st-filter">
        <h4>Filter</h4>
        <!-- Distance filter -->
        <p><strong>Distance</strong></p>
        <input type="checkbox" ng-model="Filter.distance.m25" ng-true-value="25" data-ng-false-value=''/>
        <label>25m</label>
        <input type="checkbox" ng-model="Filter.distance.m50" ng-true-value="50" data-ng-false-value=''/>
        <label>50m</label>
        <input type="checkbox" ng-model="Filter.distance.m100" ng-true-value="100" data-ng-false-value=''/>
        <label>100m</label>
        <input type="checkbox" ng-model="Filter.distance.m200" ng-true-value="200" data-ng-false-value=''/>
        <label>200m</label>
        <input type="checkbox" ng-model="Filter.distance.m400" ng-true-value="400" data-ng-false-value=''/>
        <label>400m</label>
        <input type="checkbox" ng-model="Filter.distance.m800" ng-true-value="800" data-ng-false-value=''/>
        <label>800m</label>
        <input type="checkbox" ng-model="Filter.distance.m1500" ng-true-value="1500" data-ng-false-value=''/>
        <label>1500m</label>
        <!-- Style filter -->
        <p><strong>Style</strong></p>
        <input type="checkbox" ng-model="Filter.style.fr" ng-true-value="'自由形'" data-ng-false-value=''/>
        <label>自由形</label>
        <input type="checkbox" ng-model="Filter.style.ba" ng-true-value="'背泳ぎ'" data-ng-false-value=''/>
        <label>背泳ぎ</label>
        <input type="checkbox" ng-model="Filter.style.br" ng-true-value="'平泳ぎ'" data-ng-false-value=''/>
        <label>平泳ぎ</label>
        <input type="checkbox" ng-model="Filter.style.fly" ng-true-value="'バタフライ'" data-ng-false-value=''/>
        <label>バタフライ</label>
        <input type="checkbox" ng-model="Filter.style.im" ng-true-value="'個人メドレー'" data-ng-false-value=''/>
        <label>個人メドレー</label>
        <!-- Course filter -->
        <p><strong>Course</strong></p>
        <input type="checkbox" ng-model="Filter.course.s" ng-true-value="'短水路'" data-ng-false-value=''/>
        <label>短水路</label>
        <input type="checkbox" ng-model="Filter.course.l" ng-true-value="'長水路'" data-ng-false-value=''/>
        <label>長水路</label>
        <!-- Free text filter -->
        <p><strong>Free words</strong></p>
        <input type="text" ng-model="keyword"/>
      </div>
      <div class="st-result" ng-if="records">
        <div class="st-summary">
          <strong>Found {{records.length}} records</strong>
        </div>
        <div class="st-records">
          <table class="table">
            <tr ng-repeat="record in records | filter : keyword | filter : filterDistance | filter : filterStyle | filter : filterCourse">
              <th>{{record.year}}-{{record.month}}-{{record.day}}</th>
              <td><a href="{{record.meet_url}}" target="_brank">{{record.meet_name}}</a></td>
              <td>{{record.course}}</td>
              <td>{{record.team_name}}</td>
              <td>{{record.player_name}}</td>
              <td><a href="{{record.race_url}}" target="_blank">{{record.sex}}{{record.distance}}m{{record.style}}</a></td>
              <td>{{record.record}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="controllers.js"></script>
</body>

</html>
