<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>swimtrack</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
  <div ng-controller="recordCtrl">
    <form ng-submit="submit()">
      <input type="text" ng-model="name"/>
      <select ng-model="distance">
        <option value="25m">25m</option>
        <option value="50m">50m</option>
        <option value="100m">100m</option>
        <option value="200m">200m</option>
        <option value="400m">400m</option>
      </select>
      <select ng-model="style">
        <option value="自由形">自由形</option>
        <option value="背泳ぎ">背泳ぎ</option>
        <option value="平泳ぎ">平泳ぎ</option>
        <option value="バタフライ">バタフライ</option>
        <option value="個人メドレー">個人メドレー</option>
      </select>
      <input type="submit" id="submit" value="Submit" />
    </form>
    <table>
      <tr ng-repeat="record in records">
        <td>{{record.year}}</td>
        <td>{{record.month}}</td>
        <td>{{record.day}}</td>
        <td>{{record.title}}</td>
        <td>{{record.course}}</td>
        <td>{{record.distance}}</td>
        <td>{{record.style}}</td>
        <td>{{record.time}}</td>
        <td>{{record.url}}</td>
      </tr>
    </table>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="controllers.js"></script>
</body>

</html>
